<div id="cardinfo-container" class="{{className}}">

  <div class="cardinfo-header">
    <div class="cardinfo-text">
      <p class="cardinfo-total-vagas" [style.color]='colorIcon'>{{valorTitle}}</p>
      <p class="cardinfo-title" [style.color]='colorIcon'>{{title}}</p>
    </div>

    <div class="cardinfo-icon">
      <i class="{{classIcon}}" [style.color]='colorIcon'></i>
    </div>

    <div class="cardinfo-btn">
      <!-- <div class="cardinfo-semicircle"></div> -->
      <!-- <button>Park Now</button> -->
    </div>
  </div>

  <div class="cardinfo-vagas">
    <!--
    <div class="cardinfo-livre">
      <p class="cardinfo-text-qtde">Livres</p>
      <p class="cardinfo-qtde">115</p>
    </div>
    <div class="cardinfo-icon icon-seta">
      <i class="bi bi-arrow-left-right"></i>
    </div>
    <div class="cardinfo-ocupado">
      <p class="cardinfo-text-qtde">Ocupadas</p>
      <p class="cardinfo-qtde">15</p>
    </div>
  -->
  </div>
</div>
