*{
  font-family: 'Open Sans', sans-serif;
}

#login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* background-color: rgb(215, 228, 228); */
}

/* content */
.content{
  background-color: var(--color-second);
  border-radius: 15px;
  width: 960px;
  height: 70%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before{
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 0;
  /* left: 60%; */
}

/* contents.. */
.first-content{
  /* display: none; */
  display: flex;
  border-radius: 15px;
}

.second-content{
  position: absolute;
  display: flex;
}

/* columns */
.first-column{
  text-align: center;
  width: 40%;
}

.second-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.first-content .first-column{
  z-index: 10;
  flex: 1 0 auto;
}

.first-content .second-column{
  flex: 2 0 auto;
  z-index: 10;
}

.second-content .first-column{
  order: 2;
  z-index: -1;
}

.second-content .second-column{
  order: 1;
  opacity: 0;
}

/* social media */
.social-media{
  margin: 1rem;
}

.list-social-media{
  display: flex;
  list-style-type: none;
}

.item-social-media{
  border: 1px solid var(--color-description-second);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  color: var(--color-description-second);
}

.link-social-media:hover .item-social-media{
  color: var(--color-second);
  background-color: var(--color-primary);
  border: var(--color-primary);
  transition: background-color .5s;
}

.link-social-media:not(:first-child){
  margin-left: 10px;
}

/* form */
.form{
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form input{
  height: 45px;
  border: none;
  background-color: var(--color-inputs);
  width: 100%;
}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
  -webkit-text-fill-color: #000 !important;
}

.label-input{
  background-color: var(--color-inputs);
  display: flex;
  align-items: center;
  margin: 8px;
}

.icon-modify{
  color: var(--color-icons);
  padding: 0 5px;
}

/* title */
.title{
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary{
  color: var(--color-title-second);
}

.title-second{
  color: var(--color-title-primary);
}

/* description */
.description{
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
}

.description-primary{
  color: var(--color-second);
}

.description-second{
  color: var(--color-description-second);
}

/* buttons */
.btn{
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border-width: 0;
  margin-top: 1rem;
}

.btn-primary{
  color: var(--color-second);
  background-color: transparent;
  border: 1px solid var(--color-second);
}

.btn-primary:hover{
  background-color: var(--color-second);
  color: var(--color-primary);
  transition: background-color .6s;
}

.btn-second{
  color: var(--color-second);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-second:hover{
  background-color: var(--color-second);
  color: var(--color-primary);
  transition: background-color .6s;
}

.password{
  color: var(--color-description-second);
  font-size: 14px;
  text-align: center;
  margin: 15px 0;
}

.password::first-letter{
  text-transform: capitalize;
}

.sign-in-ts .first-content .first-column,
.sign-up-ts .second-content .first-column{
  z-index: -1;
}
.sign-in-ts .second-content .first-column,
.sign-up-ts .first-content .first-column{
  z-index: 13;
}
.sign-in-ts .second-content .second-column{
  z-index: 10;
  opacity: 100%;
}
.sign-up-ts .first-content .second-column{
  z-index: 10;
}

.sign-in-ts .content::before{
  left: 60%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  animation: slidein .9s;

  z-index: 12;
}

.sign-up-ts .content::before{
  animation: slideout .9s;
  z-index: 12;
}

.sign-in-ts .first-content .second-column{
  z-index: -1;
  position: relative;
  animation: deslocamentoEsq .9s;
}

.sign-up-ts .second-content .second-column{
  position: relative;
  z-index: -1;
  animation: deslocamentoDir .9s;
}
/* ANIMAÇÃO */

@keyframes deslocamentoEsq {
  from{
    left: 0;
    opacity: 1;
    z-index: 12;
  }
  25%{
    left: -80px;
    opacity: .5;
  }
  50%{
    left: -100px;
    opacity: .2;
  }
  to{
    left: -110px;
    opacity: 0;
    z-index: -1;
  }

}

@keyframes deslocamentoDir {
  from{
    left: 0;
    opacity: 1;
    z-index: 12;
  }
  25%{
    left: 80px;
    opacity: .5;
  }
  50%{
    left: 100px;
    opacity: .2;
  }
  to{
    left: 110px;
    opacity: 0;
    z-index: -1;
  }

}

@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }
  25%{
    left: 5%;
    width: 50%;
  }
  50%{
    left: 25%;
    width: 60%;
  }
  75%{
    left: 45%;
    width: 50%;
  }
  to{
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }
  25%{
    left: 45%;
    width: 60%;
  }
  50%{
    left: 25%;
    width: 60%;
  }
  75%{
    left: 5%;
    width: 50%;
  }
  to{
    left: 0;
    width: 40%;
  }
}

